/* Layout */
.card__blockchain {
  padding: 20px;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius-base);
  background-color: hsl(var(--card) / 0.4);
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

/* Header */
.card__blockchainHeader {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

/* Icons */
.card__blockchainIconContainer {
  padding: 10px;
  border-radius: var(--radius-base);
  background-color: hsl(var(--primary) / 0.2);
}

.card__blockchainIcon {
  color: hsl(var(--primary));
  font-size: 1.2rem;
}

/* Content Info */
.card__blockchainTextsInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__blockchainTextsTitle {
  color: hsl(var(--foreground));
  font-size: 1.2rem;
  font-weight: 700;
}

.card__blockchainTextsInfo {
  font-size: 0.8rem;
  color: hsl(var(--temp-optimal));
}

/* Hash & Block ID */
.card__blockchainHash,
.card__blockchainBlockId {
  background-color: hsl(var(--secondary));
  padding: 15px;
  display: flex;
  border-radius: var(--radius-base);
}

.card__blockchainHash {
  gap: 0.5rem;
}

.card__blockchainHashTexts {
  width: 100%;
}

.card__blockchainHashIcon {
  color: hsl(var(--muted-foreground));
  font-weight: 700;
  position: relative;
  top: 3px;
}

.card__blockchainBlockId {
  margin-top: 0.5rem;
  text-overflow: clip;
}

.card__blockchainHashTitle {
  color: hsl(var(--muted-foreground));
}

.card__blockchainBlockId {
  justify-content: space-between;
}

.card__blockchainHashId {
  color: hsl(var(--foreground));
  word-break: break-all;
  width: 100%;
  background-color: hsl(var(--card));
  margin-top: 0.5rem;
  padding: 15px;
  border-radius: var(--radius-base);
  transition: 400ms ease;
}

/* Buttons */
.transaction__button {
  display: flex;
  gap: 1rem;
}

.card__blockchainHashId:focus {
  outline: 1px solid hsl(var(--primary));
}

.card__blockchainBlockIdTitle {
  color: hsl(var(--muted-foreground));
}

.card__blockchainBlockIdId {
  color: hsl(var(--glacier));
}

.card__blockchainButton {
  display: flex;
  gap: 1rem;
  width: 100%;
}
