.dashboard__nav {
  padding-block: 20px;
  border-bottom: 1px solid hsl(var(--border));
}

.dashboard__navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  gap: .6rem;
  align-items: center;
}

.nav__logoContainer {
  padding: 12px;
  border-radius: .8rem;
  background-color: hsl(var(--primary) / .2);
}

.nav__logoIcon {
  font-size: 1.4rem;
  color: hsl(var(--primary));
}

.nav__logoTexts {
  display: flex;
  flex-direction: column;
}

.nav__textsTitle {
  color: hsl(var(--foreground));
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.nav__textsSpan {
  color: hsl(var(--muted-foreground));
  font-size: .8rem;
  font-weight: 200;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav__links > *:not(.nav__linksHome) {
  display: flex;
  gap: .6rem;
  align-items: center;
}

.nav__systemIcon {
  font-size: 1.2rem;
  color: hsl(var(--temp-optimal));
}

.nav__systemStatus {
  color: hsl(var(--muted-foreground));
  font-weight: 200;
}

.nav__linksHistory {
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--border));
  padding: 7px 12px;
  border-radius: var(--radius-base);
  cursor: pointer;
}

.nav__homeIcon {
  font-size: 1.2rem;
  color: hsl(var(--muted-foreground));
  cursor: pointer;
}